/* custom styles for omeka-home */

body {
  background:#ececeb;
  color: #333;
  font-family: helvetica, arial, sans-serif;
}

header {
  margin-bottom: 0; 
  padding-bottom: 0;
}
#header-contents {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}
#header-contents img {
  width: 100%;
}

#slider-row {
  margin-top: 1em;
}

/* slider customization (modified basic-slider styling) */
ol.bjqs-markers.h-centered {
  position: absolute;
  bottom: 1em;
}

p.bjqs-caption {
  bottom: initial;
  top: 0;
  height:30px;
  padding-top:1%;
  font-size:3em;
  color:#fff;
  background-color:rgba(0, 0, 0, 0.5);
}

ul.bjqs-controls.v-centered li a {
  color: #fff;
  background-color:rgba(0, 0, 0, 0.5);
}

li.bjqs-next a, li.bjqs-prev a {
  top: 50% !important;
}

ol.bjqs-markers.h-centered {
  left: 0 !important;
}

ol.bjqs-markers li a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  padding: 6px 9px 3px;
}

ol.bjqs-markers li.active-marker a, ol.bjqs-markers li a:hover {
  background: #fff;
  color: #000;
}

/* end slider customization */

a:link {color:#eb8e61;}
a:visited {color:#eb8e61;}
a:hover: {color:#eb8e61; text-decoration:underline;}
a:active: {color:#eb8e61;}

.content-block li.first a:link {color:#eb8e61;}
.content-block li a:link {color:#333;}
.content-block li a:visited {color:#333;}
.content-block li a:hover {color:#333; text-decoration:underline;}
.content-block li a:active {color:#333;}

ul {
  list-style-type: square;
}
li {
  font-size: .8em;
}

/* from bootstrap's sr-only class to display labels in spans only readable by screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#three-col-showcase {
  margin-top: 1em; 
  margin-bottom: 0; 
  margin-top: 2em;
}

.content-block ul li {
  padding-top:.4em;
  padding-bottom:.4em;
  border-bottom:1px dotted #dbad41;
}

.nav-items {
}

.nav-items a:link {color:#dbad41;}
.nav-items a:visited {color:#dbad41;}
.nav-items a:hover: {color:#dbad41; text-decoration:underline;}
.nav-items a:active: {color:#dbad41;}

.nav-items-items {
  text-align:center;
}
.nav-items-contact {
  text-align:right;
}

/* expand/collapse nav */
.handheld-nav-toggle {
  display: none;
  margin-top:1em; 
  font-size:1.25em;
}
.content-1 {}
#plus1 {color:#eb8e61; font-weight:700;}
#minus1 {color:#eb8e61; font-weight:700;}
#nav-items {margin-top:1em; width:100%;}
.showit {display:inline; color:#2971a7;}
.hideit {display:none; color:#2971a7;}

.content-block {padding:0 .5em .3em;}

#content-title {padding-left:0;}

#intro-content-container {font-size:.8em;}

.overview-left-text {
  padding: 0 1em;
}

.overview-right-text {
  padding-right: 3em;
}

#intro-title-container {
  margin-top: 1em;
  margin-bottom: -2em;
}

#intro-content-container {
  min-height: 110px; 
  padding-top: 1.8em;
  background-image: url(../assets/intro-text-background.png); 
  background-size: cover;
}

.showcase-column {min-height:380px;}
.showcase-column-3 {min-height:380px; background:#dfdedd;}
.showcase-column img, .showcase-column-3 img {width:100%;}

/* overriding libheader-lite since we're not using its header or footer */
.libsite-container {margin-top: 1em;}

.browse-link {margin-top:1.6em; margin-left:25px; font-size:.9em;}

#featured-exhibit-image {margin-bottom:1em;}

.current-exhibits-link {margin-top:2em;}
.current-exhibits-link a:link {color:#333; text-decoration:underline;}
.current-exhibits-link a:visited {color:#333;}
.current-exhibits-link a:hover: {color:#dbad41; text-decoration:none; }
.current-exhibits-link a:active: {color:#333;}

.online-exhibit-title {margin-bottom:.3em; margin-top:.5em; color:#eb8e61;}
.online-exhibit-text {font-size:.8em; padding-left:.5em;}

.all-online-exhibits-link {margin-top:2em;}
.all-online-exhibits-link a:link {color:#333; text-decoration:underline;}
.all-online-exhibits-link a:visited {color:#333;}
.all-online-exhibits-link a:hover: {color:#dbad41; text-decoration:none; }
.all-online-exhibits-link a:active: {color:#333;}

/* footer */
footer {}
#local-footer {}

#footer-content {
  margin:0 auto; 
  background:#191919; 
  max-width:1170px; 
  padding-top:1em; 
  padding-bottom:1.2em;
}

#logo-container {
  display:block;
  float:left; 
  width:260px;
  margin-right: 2em;
}

#local-footer h2 {
  margin-bottom: 0.5em;
}

#local-footer article.address {
  display: inline;
}

#local-footer article.address p {
  color: #fff;
  margin: 0;
  font-size: .8em;
}

#local-footer .right {
	margin-top: 0; 
	float: right;
}

#local-footer .local-links {
  text-align: right;
  color: #eb8e61;
}

#local-footer .social-links {
	border-top: 1px dotted #A0A0A0;
	margin-top: 6px;
	padding-top: 6px;
	text-align: right;
}
 
#local-footer .social-links ul {
	list-style: none inside;
	padding: 0;
	margin: 0;
}

#local-footer .social-links ul li {
	display: inline;
}

#local-footer .social-links ul li img {
	padding-left: 1.0em;
}

#local-footer .social-links a:hover {
	text-decoration: none;
	color: #03314b;
}

#local-footer {
  width: 1170px;
  position: relative;
}
  
#local-footer .right {
  position: absolute;
	right: 0;
	bottom: 0;
  }
  
#local-footer .footer-lib-logo {
  margin-bottom: 0; 
}
  
#local-footer h2, #local-footer h3 {
  margin: 0;
  color: #fff;
}
/* end footer */

/* Customizations to full-size view by Phil */
/* your css here!
/* end full-size customizations */

/* MEDIA QUERIES */

@media screen and (min-width:1200px) {
  header {
    background:#191919;
    width:100%;
    height:271px;
  }
  footer {
    background:#191919;
    width:100%;
  }

/* Customizations to min 1200 view by Phil */
/* your css here!
/* end min 1200 customizations */

}

@media screen and (max-width:1220px) {
  #local-footer {
    width: 100%;
  }
  #footer-container {
    width: 100%;
  }
  #footer-content {
    margin:0;
    padding-left:1em;
    padding-right:1em;
  }

/* Customizations to max 1220 view by Phil */
/* your css here!
/* end max 1220 customizations */

}

@media screen and (max-width:1160px) {
  #logo-container {
    display: none;
  }

/* Customizations to max 1160 view by Phil */
/* your css here!
/* end max 1160 customizations */

}

@media screen and (max-width:860px) {
  #give-to {
    display: none;
  }
  p.bjqs-caption {
    font-size: 2em;
    height: 22px;
  }
  ul.bjqs-controls.v-centered li a {
    padding: 6px;
  }
  ol.bjqs-markers.h-centered {
    bottom: .5em;
  }

/* Customizations to max 860 view by Phil */
/* your css here!
/* end max 860 customizations */

}

@media screen and (max-width:767px) {
  #header-container, #footer-container {
    width:100%;
  }
  #slider-row {
    margin-top: 0;
  }
  p.bjqs-caption {
    font-size: 1.2em;
    height:18px;
  }
  ul.bjqs-controls.v-centered li a {
    padding: 2px;
  }
  ol.bjqs-markers.h-centered {
   bottom: .1em;
  }
  li.bjqs-next, li.bjqs-prev {
  display: none;
  }
  .handheld-nav-toggle {display: block;}
  .content-1 {display: none;}
  .nav-items-items {
    text-align:left;
  }
  .nav-items-contact {
    text-align:left;
  }
  .overview-left-text {
    padding: 0;
  }  
  .overview-right-text {
    padding: 0;
  }
  .showcase-column {
    padding-top:.5em;
    margin-top:1em;
  }
  /* adjusting Libsite Header for spacing above custom footer */
  article.libsite-container {
    margin-bottom: 1em;
  }
  #local-footer-links {
    display: none;
  }

/* Customizations to max 767 view by Phil */
/* your css here!
/* end max 767 customizations */

}
