/* custom styles for omeka-home */

body {
  background:#ececeb;
  color: #333;
  font-family: helvetica, arial, sans-serif;
}

header {}
footer {}

a:link {color:#eb8e61;}
a:visited {}
a:hover: {}
a:active: {}

.content-block li.first a:link {color:#eb8e61;}
.content-block li a:link {color:#333;}

ul {
  list-style-type: square;
}

.content-block ul li {
  padding-top:.4em;
  padding-bottom:.4em;
  border-bottom:1px dotted #dbad41;
}

.nav-items {}

.nav-items-items {
  text-align:center;
}
.nav-items-contact {
  text-align:right;
}

/* from bootstrap's sr-only class to display labels in spans only readable by screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* footer */
#local-footer {
}

#footer-content {
  margin:0 auto; 
  background:#191919; 
  max-width:1170px; 
  padding-top:1em; 
  padding-bottom:1em;
}

#local-footer h2 {
	margin-bottom: 0.5em;
}

#local-footer article.address {
	width: 40%;
}

#local-footer article.address p {
	line-height: 16px;
	color: #333; /* #555; */
	margin: 0;
}

#local-footer .right {
	margin-top: 0; /*2em;*/
	float: right;
}

#local-footer .local-links {
	text-align: right;
}

#local-footer .social-links {
	border-top: 1px dotted #ccc;
	margin-top: 6px;
	padding-top: 6px;
	text-align: right;
}
 
#local-footer .social-links ul {
	list-style: none inside;
	padding: 0;
	margin: 0;
}

#local-footer .social-links ul li {
	display: inline;
}

#local-footer .social-links ul li img {
	padding-left: 1.0em;
}

#local-footer .social-links a:hover {
	text-decoration: none;
	color: #03314b;
}

#local-footer {
    width: 1170px;
    position: relative;
}
  
#local-footer .right {
  	position: absolute;
	right: 0;
	bottom: 0;
  }
  
#local-footer .footer-lib-logo {
  	margin-bottom: 0; /*1.0em;*/
  }
  
#local-footer h2,
#local-footer h3 {
 	margin: 0;
  }
/* end footer */

.content-block {padding: 0 .5em .3em;}

.overview-left-text {
  padding: 0 1em;
}
.overview-right-text {
  padding-right: 3em;
}

.showcase-column {}

/* overriding libheader-lite since we're not using its header */
.libsite-container {margin-top: 1em;}

@media screen and (min-width:1200px) {
  header {
    background:#191919;
    width:100%;
    height:271px;
  }
  footer {
    background:#191919;
    width:100%;
    height:200px;
  }
}

@media screen and (max-width:767px) {
  #header-container, #footer-container {
    margin-left:-20px;
    width:110%;
  }

  .nav-items-items {
    text-align:left;
  }
  .nav-items-contact {
    text-align:left;
  }

  .overview-left-text {
    padding: 0;
  }  
  .overview-right-text {
    padding: 0;
  }

  .showcase-column {
    padding-top:.5em;
    margin-top:1em;
  }
}
