/* custom styles for omeka-home */

body {
  background:#ececeb;
  color: #333;
  font-family: helvetica, arial, sans-serif;
}

a:link {color: #333;}
a:visited {}
a:hover: {color:#eb8e61;}
a:active: {}

ul {
  list-style-type: square;
}

.nav-items {}

.nav-items-items {
  text-align:center;
}
.nav-items-contact {
  text-align:right;
}

.content-block {padding: 0 .5em .3em;}

.overview-left-text {
  padding: 0 1em;
}
.overview-right-text {
  padding-right: 3em;
}

@media screen and (max-width:767px) {
  .nav-items-items {
    text-align:left;
  }
  .nav-items-contact {
    text-align:left;
  }

  .overview-left-text {
    padding: 0;
  }  
  .overview-right-text {
    padding: 0;
  }
}
